body{
    background-color: #ffdbdb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    height: 100px;
    background-color: #ffffff;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    font-size: 2em;
    margin: 20px;
}
main{
    margin: 10px;
    background-color: #faebd7;
    min-height: 1000px;
}

main h2{
    padding: 10px;
    text-decoration: dashed;
}